.post {
    --clr-title: #333d4b;
    --clr-caption: #8b95a1;

    h1, h2, h3 {
        color: var(--clr-title);
    }

    h1 {
        scroll-margin-top: 8rem;

        font-size: 3rem;
        line-height: 4rem;
    }

    h2 {
        margin-top: 4rem;

        font-size: 2.6rem;
        line-height: 3.5rem;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        margin-top: 3.2rem;
        scroll-margin-top: 8rem;

        font-size: 2.2rem;
        line-height: 3.1rem;
    }

    p {
        font-size: 1.7rem;
        line-height: 2.55rem;

        &:not(:first-child) {
            margin-top: 2.4rem;
        }
    }

    .caption {
        font-size: 1.3rem;
        line-height: 1.95rem;
        color: var(--clr-caption);
    }
}

@media (prefers-color-scheme: dark) {
    .post {
        --clr-title: #e4e4e5;
        --clr-caption: #7e7e87;
    }
}
